@import url("./header.less");
.box-left .col-sm-3{
    padding: 0px
}
.panel-title a{
    text-decoration: none;
    color: #337ab7;
}
.panel-group .panel+.panel {
    margin-top: 0px;
}
.panel-group .panel {
    border-radius: 0px;
}